<!--Botão Menu-->
<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
</button>

<mat-menu #menu="matMenu" class="menu-buttons">
    <button mat-menu-item (click)="navigateToHome()">
        <mat-icon class="color-icon">home</mat-icon>
        <span class="text-menu">Menu Principal</span>
    </button>
    <button mat-menu-item (click)="navigateToManterUsuarios()">
        <mat-icon class="color-icon">account_circle</mat-icon>
        <span class="text-menu">Manter Usuários</span>
    </button>
    <button [disabled]="adminButtons" mat-menu-item (click)="navigateToManterVeiculos()">
        <mat-icon class="color-icon">commute</mat-icon>
        <span class="text-menu">Manter Veículos</span>
    </button>
    <button [disabled]="adminButtons" mat-menu-item (click)="navigateToManterEquipamentos()">
        <mat-icon class="color-icon">developer_board</mat-icon>
        <span class="text-menu">Manter Equipamentos</span>
    </button>
    <button [disabled]="adminButtons" mat-menu-item (click)="navigateToMostrarNivelLotacao()">
        <mat-icon class="color-icon">visibility</mat-icon>
        <span class="text-menu">Mostrar Nível de Lotação</span>
    </button>
    <button mat-menu-item (click)="navigateToLogin()">
        <mat-icon class="color-icon">login</mat-icon>
        <span class="text-menu">Sair</span>
    </button>

</mat-menu>