<div class="container">
    <mat-toolbar class="toolbar">
        <div class="titulo">
            S.I.L.O. - Sistema de Informação de Lotação de Ônibus
        </div>
        <div class="tituloPequeno">
            S.I.L.O.
        </div>
        <div class="usuarioLogado">
            <!-- <span >Olá, {{userName| titlecase}}</span> -->
            <mat-icon class="icon">account_circle</mat-icon>
            <span> {{userName| titlecase}} ({{nivelAcesso}})</span>
        </div>
        <div class="menu-button">
            <app-menu-button></app-menu-button>
        </div>
    </mat-toolbar>
</div>