.container{
    display: flex;    
    height: 15%;
    width: 100%;
}

.toolbar {
    height: 100%;
    background-color: #333;
}

.titulo {
    color: #9FC5F8;
    font-size: 25px;
    width: 100%;
    justify-content: center;
    display: flex;
}

.usuarioLogado {
    margin-right: 15px;
}

.tituloPequeno{
    color: #9FC5F8;
    font-size: 25px;
    width: 100%;
    justify-content: center;
    display: none;
}

.menu-button{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

@media only screen and (max-width: 819px) {
    .toolbar {
        flex-direction: column;
        padding: 0px;
    }
    .titulo {
        background-color: #333;
        color: #9FC5F8;
        font-size: 20px;
        text-align: center;
     }
    .menu-button{
        flex-direction: column;
        justify-content: center;
    }

    .usuarioLogado {
        font-size: 15px;
    }
 }
 @media only screen and (max-width: 500px) {
    .toolbar {
        flex-direction: column;
    }
    .titulo {
        background-color: #333;
        color: #9FC5F8;
        font-size: 15px;
        text-align: center;
        color: #9FC5F8;
     }
    .menu-button{
        flex-direction: column;
        justify-content: center;
    }
 }
 @media only screen and (max-width: 380px) {
    .toolbar {
        flex-direction: column;
    }
    .titulo {
        display: none;
     }

     .tituloPequeno{
        display: flex;
    }

    .menu-button{
        justify-content: center;
        flex-direction: column;
    }
 }