table {
    width: 100%;
    padding: 5px;
}

.update {
    margin-right: 10px;
}

.update > i {
    color: #d9cd26;
}

.delete > i {
    color: #e35e6b;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

button {
    background-color: #9FC5F8;
    margin: 10px;
    color: black;
}