<div>
  <div>
    <button mat-raised-button (click)="navigateToManterUsuarios()">
      <mat-icon class="color-icon">fiber_new</mat-icon>
      Novo Usuário
    </button>
    <button mat-raised-button (click)="listarTodosUsuarios()">
      <mat-icon class="color-icon">list</mat-icon>
      Listar Usuários
    </button>
  </div>

  <table mat-table [dataSource]="usuarios" class="mat-elevation-z4">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Cod Usuario Column -->
    <ng-container matColumnDef="codUsuario">
      <th mat-header-cell *matHeaderCellDef>Cod. Usuário</th>
      <td mat-cell *matCellDef="let row">{{row.codUsuario}}</td>
    </ng-container>

    <!-- nomeUsuario Column -->
    <ng-container matColumnDef="nomeUsuario">
      <th mat-header-cell *matHeaderCellDef>Nome Usuario</th>
      <td mat-cell *matCellDef="let row">{{row.nomeUsuario}}</td>
    </ng-container>

    <!-- empresa Column -->
    <ng-container matColumnDef="empresa">
      <th mat-header-cell *matHeaderCellDef>Empresa</th>
      <td mat-cell *matCellDef="let row">{{row.empresa}}</td>
    </ng-container>

    <!-- codEmpresa Column -->
    <ng-container matColumnDef="codEmpresa">
      <th mat-header-cell *matHeaderCellDef>Cód Empresa</th>
      <td mat-cell *matCellDef="let row">{{row.codEmpresa}}</td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>

    <!-- login Column -->
    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef>Login</th>
      <td mat-cell *matCellDef="let row">{{row.login}}</td>
    </ng-container>

    <!-- senha Column -->
    <ng-container matColumnDef="senha">
      <th mat-header-cell *matHeaderCellDef>Senha</th>
      <td mat-cell *matCellDef="let row">{{row.senha}}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let row">
        <a routerLink="/usuarios/update/{{ row.id }}" class="update">
          <i class="material-icons">
            edit
          </i>
        </a>
        <a routerLink="/usuarios/delete/{{ row.id }}" class="delete">
          <i class="material-icons">
            delete
          </i>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>