table {
    width: 100%;
    padding: 5px;
}

.edit {
    margin-right: 10px;
}

.edit > i {
    color: #d9cd26;
}

.delete > i {
    color: #e35e6b;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
  }