.container{
    background-color: #555; 
}
.titulo {
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 25px;
} 

mat-grid-tile {
    /* background: lightblue; */
    padding: 0px;
    margin: 0px;
}

button {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100%;
    background-color: #555;
    border-radius: 10px;
}

.text-menu {
    color: #fff;
    font-size: 20px;
}

.color-icon{
    color: #B6D7A8;
    
}

mat-icon {
    font-size: 50px;
    padding: 20px;
}

@media only screen and (max-width: 500px) {
    .text-menu {
        color: #fff;
        font-size: 15px;
    }
    
    .titulo {
        font-size: 15px;
    }
}

@media only screen and (max-width: 360px) {
    .text-menu {
        color: #fff;
        font-size: 12px;
    }    
}