<app-header></app-header>
<div class="container">
    <h1 class="titulo">Menu Principal</h1>
</div>
<mat-grid-list cols="2" rowHeight="33vh">
    <mat-grid-tile>
        <button mat-menu-item (click)="navigateToManterUsuarios()">
            <div class="icone">
                <mat-icon class="color-icon">account_circle</mat-icon>
            </div>
            <div class="texto">
                <span class="text-menu">Manter Usuários</span>
            </div>
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button [disabled]="adminButtons" mat-menu-item (click)="navigateToManterVeiculos()">
            <mat-icon class="color-icon">commute</mat-icon>
            <span class="text-menu">Manter Veículos</span>
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button [disabled]="adminButtons" mat-menu-item (click)="navigateToManterEquipamentos()">
            <mat-icon class="color-icon">developer_board</mat-icon>
            <span class="text-menu">Manter Equipamentos</span>
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button [disabled]="adminButtons" mat-menu-item (click)="navigateToMostrarNivelLotacao()" >
            <mat-icon class="color-icon">visibility</mat-icon>
            <span class="text-menu">Mostrar Nível de Lotação</span>
        </button>
    </mat-grid-tile>
</mat-grid-list>