<app-header></app-header>
<mat-card class="container">
    <mat-card-title>Atualizar usuário</mat-card-title>
    <form class="formulario">

        <mat-form-field class="inputNome" appearance="outline" color="accent">
            <mat-label>Nome (usuário)</mat-label>
            <input [disabled]="inputNome" matInput [(ngModel)]="usuario.nome" name="nome" disabled>
        </mat-form-field>

        <mat-form-field class="inputSenha" appearance="outline" color="accent">
            <mat-label>Senha</mat-label>
            <input [disabled]="inputSenha" type="password" matInput [(ngModel)]="usuario.senha" name="senha">
        </mat-form-field>

        <mat-form-field class="inputSenha" appearance="outline" color="accent">
            <mat-label>Confirmação Senha</mat-label>
            <input [disabled]="inputConfirmacaoSenha" type="password" matInput [(ngModel)]="senhaCheck" name="senha">
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Nivel de Acesso</mat-label>
            <select [disabled]="inputNivelAcesso" matNativeControl [(ngModel)]="selectedNivelAcesso" name="nivelAcesso"
                required>
                <!-- <option value="usuario" selected></option> -->
                <option *ngFor="let nivel of niveis" [value]="nivel.value">
                    {{nivel.viewValue}}
                </option>
            </select>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Empresa</mat-label>
            <select [disabled]="inputEmpresa" matNativeControl [(ngModel)]="selectedEmpresa" name="empresa">
                <option value="" selected></option>
                <option *ngFor="let empresa of empresas.content" [value]="empresa.id">
                    {{empresa.empresa_nome}}
            </select>
        </mat-form-field>

    </form>
    <div class="botoes">

        <button [disabled]="updateButtonDisabled" class="botaoSalvar" mat-raised-button (click)="updateUsuario()">
            <mat-icon>sync</mat-icon>
            <span class="textButton">Atualizar</span>
        </button>

        <button class="botaoCancelar" mat-raised-button (click)="cancel()">
            <mat-icon>close</mat-icon>
            <span class="textButton">Cancelar</span>
        </button>

    </div>
</mat-card>