.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 25px;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
    width: 50vw;
    margin-top: 10px;
}

.botoes {
    display: flex;
    justify-content: center;
    width: 50vw;
    margin-top: 10px;
}

.botaoSalvar {
    background-color: #9FC5F8;
    color: #333;
    margin-right: 10px;
    width: 8rem;    
}

.botaoCancelar {
    background-color: #e35e6b;
    width: 8rem;
}

.textButton{
    margin-left: 5px;
}

mat-form-field.mat-form-field {
    font-size: 13px;
}

.inputId {
    width: 80%;
}

.inputNome {
    width: 80%;
}

.inputSenha  {
    width: 80%;
}

.inputEmpresaId {
    width: 80%;
}

.inputEmpresa {
    width: 80%;
}

@media only screen and (max-width: 500px) {
    .botoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50vw;        
    }

    .botaoSalvar {
        background-color: #9FC5F8;
        color: #333;
        width: 80%; 
        margin: 3px;
    }

    .botaoCancelar {
        background-color: #e35e6b;
        width: 80%;
        margin: 3px;
    }
}

/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 25px;
}

.formulario {
    display: grid;
    width: 90vw;
    margin: 10px;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 12vh 12vh;
    grid-template-areas: "usuario usuario"
                         "email email";
}

.formulario > main {
    grid-area: usuario;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.formulario > footer {
    grid-area: email;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botoes {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.botaoSalvar {
    background-color: #9FC5F8;
    color: #333;
    margin-right: 10px;
    width: 8rem;    
}

.botaoCancelar {
    background-color: #e35e6b;
    width: 8rem;
}

.textButton{
    margin-left: 5px;
}

mat-form-field.mat-form-field {
    font-size: 13px;
}

.inputId {
    width: 90%;
}

.inputNome {
    width: 90%;
}

.inputSenha  {
    width: 90%;
}

.inputEmpresaId {
    width: 90%;
}

.inputEmpresa {
    width: 90%;
}

@media only screen and (max-width: 500px) {
    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;    
        width: 50vw;
        margin-top: 10px;
    }

    .botoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50vw;        
    }

    .botaoSalvar {
        background-color: #9FC5F8;
        color: #333;
        width: 80%; 
        margin: 3px;
    }

    .botaoCancelar {
        background-color: #e35e6b;
        width: 80%;
        margin: 3px;
    }
} */