<div class="container">
    <div class="superior">
        <div class="filtro">
            <mat-form-field class="inputCodEquipamento" appearance="legacy" color="accent">
                <mat-label class="texto">Veiculo</mat-label>
                <select class="texto" matNativeControl [(ngModel)]="selectedVeiculo" name="veiculo">
                    <option value="" selected></option>
                    <option *ngFor="let veiculo of veiculos.content" [value]="veiculo.id">
                        {{veiculo.placaVeiculo}} - {{veiculo.modeloVeiculo}}
                    </option>
                </select>
            </mat-form-field>

            <button mat-raised-button (click)="listarHistorico()">
                <mat-icon class="color-icon">visibility</mat-icon>
                <span class="textButton"> Mostrar Nivel</span>
            </button>
        </div>
    </div>
    <div>
        <div class="informacaoBusao">
            <mat-form-field appearance="outline" color="accent">
                <mat-label class="texto">Data/Hora</mat-label>
                <input class="texto" matInput [(ngModel)]="historico.datahora" readonly>
            </mat-form-field>
            <mat-form-field appearance="outline" color="accent">
                <mat-label class="texto">Equipamento instalado</mat-label>
                <input class="texto" matInput [(ngModel)]="equipamentoInstalado" readonly>
            </mat-form-field>
        </div>
    </div>

    <div class="inferior">
        <div class="busao">
            <div class="imagemOnibus">
                <img src="..\assets\{{onibusColor}}">

                <div class="textoLinha">
                    <h2>{{historico.veiculo.numeroLinha}}</h2>
                </div>
                <div class="textoPlaca">
                    <h2>{{historico.veiculo.placaVeiculo}}</h2>
                </div>
                <div class="textoModelo">
                    <h2>{{historico.veiculo.modeloVeiculo}}</h2>
                </div>
                <div class="textoQtdPassageiros">
                    <mat-form-field style="width: 50%; font-weight: 500; text-align: center;" appearance="outline">
                        <mat-label class="texto2">Passageiros</mat-label>
                        <input class="texto3" matInput [(ngModel)]="historico.qtdPassageiros" readonly>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="informacaoBusao">
            <mat-form-field appearance="outline" color="accent">
                <mat-label class="texto">Total de Lugares</mat-label>
                <input class="texto" matInput [(ngModel)]="historico.veiculo.totalLugares" readonly>
            </mat-form-field>
            <mat-form-field appearance="outline" color="accent">
                <mat-label class="texto">Lugares Disponíveis</mat-label>
                <input class="texto" matInput [(ngModel)]="lugaresDiponiveis" readonly>
            </mat-form-field>
            <mat-form-field appearance="outline" color="accent">
                <mat-label class="texto">Status</mat-label>
                <input class="texto" matInput [(ngModel)]="historico.status" readonly>
            </mat-form-field>
        </div>
    </div>
</div>