<header>
    <h1 class="titulo">S.I.L.O.<br><span class="titulo2">Sistema de Informação de Lotação de Ônibus</span></h1>
</header>
<section class="form-section">
    <div>
        <h1 class="subtitulo">LOGIN</h1>
    </div>
    <div class="form-wrapper">
        <form action="">
            <div class="input-block">
                <label for="login-email">Email</label>
                <input type="email" id="login-email" />
            </div>
            <div class="input-block">
                <label for="login-password">Password</label>
                <input type="password" id="login-password" />
            </div>
            <div class="botoes">
                <button class="botao" mat-raised-button (click)="navigateToHome()">
                    <mat-icon class="corIcone">login</mat-icon>
                    <span class="textoBotao">Entrar</span>
                </button>
                <!-- <button class="botao" mat-raised-button>
                    <mat-icon class="corIcone">clear</mat-icon>
                    <span class="textoBotao">Limpar</span>
                </button> -->
            </div>
        </form>
    </div>
</section>