<div class="container">

    <header class="titulo">
        <h1>S.I.L.O.<br>Sistema de Informação de Lotação de Ônibus</h1>
    </header>

    <body>        
        <div class="frame">
            <div>
                <h1 class="subtitulo">LOGIN</h1>
            </div>
            <!-- Inputs -->
            <div class="entradas">
                <form>
                    <mat-form-field>
                        <h4 class="textoEntradas">Usuário</h4>
                        <input class="textoEntradas" matInput placeholder="Digite seu nome usuário">
                        <h4 class="textoEntradas">Senha</h4>
                        <input class="textoEntradas" type="password" matInput placeholder="Digite sua senha">
                    </mat-form-field>                    
                </form>
            </div>

            <div class="botoes">
                <!-- Botões -->
                <button class="botao" mat-raised-button (click)="navigateToHome()">
                    <mat-icon class="corIcone">login</mat-icon>
                    <span class="textoBotao">Entrar</span>
                </button>
                <button class="botao" mat-raised-button>
                    <mat-icon class="corIcone">clear</mat-icon>
                    <span class="textoBotao">Limpar</span>
                </button>
            </div>

        </div>
    </body>

</div>