<div>
    <button mat-raised-button (click)="listarHistorico()">
        <mat-icon class="color-icon">list</mat-icon>
        <span class="textButton"> Mostrar Nivel</span>
    </button>

    <mat-form-field class="inputCodEquipamento" appearance="outline" color="accent">
        <mat-label>Veiculo</mat-label>
        <select matNativeControl [(ngModel)]="selectedVeiculo" name="veiculo">
            <option value="" selected></option>
            <option *ngFor="let veiculo of veiculos.content" [value]="veiculo.id">
                {{veiculo.placaVeiculo}} - {{veiculo.modeloVeiculo}}
            </option>
        </select>
    </mat-form-field>
</div>