<app-header></app-header>
<mat-card class="container">
    <mat-card-title>Excluir usuário</mat-card-title>
    <form class="formulario">
        <mat-form-field class="inputId" appearance="outline" color="accent">
            <mat-label>Id</mat-label>
            <input type="number" matInput [value]="usuario.id" name="id" disabled>
        </mat-form-field>
        <mat-form-field class="inputNome" appearance="outline" color="accent">
            <mat-label>Nome (usuário)</mat-label>
            <input matInput [value]="usuario.nome" name="nome" disabled>
        </mat-form-field>
        <mat-form-field class="inputSenha" appearance="outline" color="accent">
            <mat-label>Senha</mat-label>
            <input type="password" matInput [value]="usuario.senha" name="senha" disabled>
        </mat-form-field>
        <mat-form-field class="inputEmpresaId" appearance="outline" color="accent">
            <mat-label>Empresa ID</mat-label>
            <input type="number" matInput [value]="usuario.empresaId" name="empresaId" disabled>
        </mat-form-field>
        <mat-form-field class="inputEmpresa" appearance="outline" color="accent">
            <mat-label>Empresa</mat-label>
            <input matInput [value]="usuario.empresa" name="empresa" disabled>
        </mat-form-field>
    </form>
    <div class="botoes">
        <button class="botaoSalvar" mat-raised-button (click)="deleteUsuario()">
            <mat-icon>delete</mat-icon>
            <span class="textButton">Excluir</span>
        </button>
        <button class="botaoCancelar" mat-raised-button (click)="cancel()">
            <mat-icon>close</mat-icon>
            <span class="textButton">Cancelar</span>
        </button>
    </div>
</mat-card>