<app-header></app-header>
<mat-card class="container">
    <mat-card-title>Atualizar Equipamento</mat-card-title>
    <form class="formulario">
        <!-- <span class="info">(*) preenchimento obrigatório</span> -->

        <mat-form-field class="inputPlaca" appearance="outline" color="accent">
            <mat-label>Cód. Equipamento</mat-label>
            <input matInput [(ngModel)]="equipamento.codEquipamento" name="codEquipamento" required>
        </mat-form-field>

        <mat-form-field class="inputModelo" appearance="outline" color="accent">
            <mat-label>Desrição</mat-label>
            <input matInput [(ngModel)]="equipamento.descricaoEquipamento" name="descricaoEquipamento" required>
        </mat-form-field>

        <mat-form-field class="inputLinha" appearance="outline" color="accent">
            <mat-label>Status</mat-label>
            <input matInput [(ngModel)]="equipamento.statusEquipamento" name="statusEquipamento" disabled> 
        </mat-form-field>

        <!-- <mat-form-field class="inputEmpresaID" appearance="outline" color="accent">
            <mat-label>Empresa ID</mat-label>
            <input type="number" matInput [(ngModel)]="equipamento.empresaId" name="empresaId" disabled>
        </mat-form-field> -->

        <mat-form-field class="inputEmpresa" appearance="outline" color="accent">
            <mat-label>Empresa</mat-label>
            <input matInput [(ngModel)]="equipamento.empresa" name="empresa" disabled>
        </mat-form-field>


        <!-- Só adaptar o dropDown para equipamento -->

        <!-- Exemplo de como inserir conteudo do banco na DropDown List -->
        <!-- <mat-form-field class="inputCodEquipamento" appearance="outline" color="accent">
            <mat-label>Veiculos da empresa</mat-label>
            <select matNativeControl [(ngModel)]="selectedVeiculo" name="veiculo">
                <option value="" selected></option>
                <option *ngFor="let veiculo of veiculosEmpresa.content" [value]="veiculo.placaVeiculo">
                    Placa: {{veiculo.placaVeiculo}} -
                    Modelo: {{veiculo.modeloVeiculo}} -
                    Linha: {{veiculo.numeroLinha}} -
                    EmpresaID: {{veiculo.empresaId}}
                </option>
            </select>
        </mat-form-field> -->

    </form>
    <div class="botoes">
        <button class="botaoSalvar" mat-raised-button (click)="updateEquipamento()">
            <mat-icon>sync</mat-icon>
            <span class="textButton">Atualizar</span>
        </button>
        <button class="botaoCancelar" mat-raised-button (click)="cancel()">
            <mat-icon>close</mat-icon>
            <span class="textButton">Cancelar</span>
        </button>
    </div>
</mat-card>